    h1{
    color: blue;
    }
    img{
    width: 400px;
    }

#thirdDiv{
height: 600px;
width: 400px;
}
#thirdDiv{
background-color: aqua;
}
#spanId{
font-size: 32px;
}
#spanId{
margin: 50px;
}
#thirdDiv{
padding: 50px;
}
#thirdDiv{
border: 3px solid coral;
}
